.root {
  width: 1000px;
  height: calc(100vh - 16px);
  padding: 20px;
  margin: auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow:
    0.2s,
    border-color 0.2s;

  .logo::after {
    position: absolute;
    bottom: 0;
    left: 50px;
    clear: both;
    font-size: 18px;
    color: #ccc;
    content: "Enterprise archive management system";
  }

  .logout {
  }
}

.content {
  // padding: 20px;padding
}
